[submodule "demos/kinDemo_Im/imgui"]
	path = demos/kinDemo_Im/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "demos/kinDemo_Im/ImGuizmo"]
	path = demos/kinDemo_Im/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "demos/kinDemo_Im/implot"]
	path = demos/kinDemo_Im/implot
	url = https://github.com/epezent/implot.git
