# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake building directory
build
bin

# webassmbly compiled files
demos/kinDemo_Im/web

# IDE project setting
*.user

# Apple desktop services store
.DS_Store
